/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  margin: 0 auto;
  background: #003d71;
  font-family: "Saira", sans-serif;
}
@media (max-width:800px) {
  body {
    margin: 0 auto;
  }
}
@media (max-width:500px) {
  body .topImage img {
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  body .devImages,
  body .bottomBoxes {
    flex-flow: row wrap;
  }
}
header {
  width: 210px;
  word-wrap: normal;
}
p {
  color: #fffbf7;
  font-size: 1rem;
  text-align: center;
}
h2 {
  font-size: 1.7rem;
  color: #002649;
}
i {
  padding: 10px;
  font-size: 4rem;
  color: #fffbf7;
}
.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
  text-align: center;
}
.container {
  padding: 20px;
  width: 100%;
}
.container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
@media (max-width:500px) {
  .container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}
.container .row-photo {
  display: block;
}
.container .row-photo img {
  height: 450px;
  border-radius: 20px;
}
.top-content {
  display: flex;
  direction: row;
}
.topImage img {
  height: 300px;
  width: 325px;
  display: flex;
  justify-content: center;
}
.welcome img {
  padding: 20px;
  border-radius: 30px;
  height: 250px;
  width: 375px;
}
.bottom-content {
  padding: 5px;
  display: flex;
  direction: row;
}
.tradeCard {
  border-radius: 10px;
  height: 355px;
  width: 265px;
}
.communityPic img {
  border-radius: 10px;
  height: 250px;
  width: 80%;
}
.midPic {
  display: flex;
  flex-direction: column-reverse;
}
.topLogo {
  background: #002649;
  border-radius: 10px;
}
nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  border-radius: 15px;
  background: #d65600;
}
nav a {
  margin: 0 auto;
  color: #fffbf7;
  padding: 5px;
  text-decoration: none;
}
.bottomLogo {
  width: 208px;
  background: #202b31;
  border-radius: 10px;
}
.bottomLogo img {
  align-items: flex-end;
}
.form {
  font-size: 1.3rem;
  padding: 15px;
  border: 7px solid #fffbf7;
  border-radius: 20px;
}
.form .form a {
  color: #d65600;
  text-decoration: none;
}
.form .clearFix {
  padding: 7px;
}
.form .termsPrivacy {
  width: 290px;
}
.field {
  display: flex;
  justify-content: space-between;
  width: 325px;
}
b {
  font-size: 1.8rem;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #fffbf7;
  line-height: 1.6;
}
p {
  font-size: 2rem;
}
h1 {
  font-size: 2rem;
}
.carouselBox {
  display: flex;
  justify-content: center;
}
.slider {
  position: relative;
  overflow: hidden;
  height: 65vh;
  width: 80%;
}
.slide {
  position: absolute;
  margin: 0 auto;
  justify-content: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  border-radius: 20px;
}
.slide.current {
  opacity: 1;
}
.slide .content {
  position: absolute;
  top: 0px;
  right: 600px;
  opacity: 0;
  width: 170px;
  text-align: center;
  background-color: #202b31;
  height: 50%;
  color: #fffbf7;
}
.slide .content h1 {
  margin-bottom: 10px;
}
.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}
.buttons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 10rem;
  margin-top: 3rem;
}
.buttons button#next {
  bottom: 0;
  right: 15px;
}
.buttons button#prev {
  left: 15px;
}
.buttons button {
  border: 2px solid #d65600;
  background-color: transparent;
  color: #d65600;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}
.buttons button:hover {
  background-color: #003d71;
  color: #fffbf7;
}
@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }
  .slide.current .content {
    transform: translateY(-300px);
  }
}
/* Backgorund Images */
.slide:first-child {
  background: url("/img/niftyLogo/kamil-s-1170942-unsplash.jpg") no-repeat center top / cover;
}
.slide:nth-child(2) {
  background: url("/img/niftyLogo/AdobeStock_227126284.jpeg") no-repeat center top / cover;
}
.slide:nth-child(3) {
  background: url("/img/niftyLogo/play-yu-gi-oh-magic-the.jpg") no-repeat center top / cover;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
body {
  font-family: "Roboto", sans-serif;
}
.calc-btn {
  background-color: silver;
  color: black;
  width: 25px;
  height: 45px;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
  font-size: 32px;
  font-weight: 100;
  padding-top: 3px;
}
.calc-btn:hover {
  background-color: #d65600;
}
.row {
  display: table;
  table-layout: fixed;
  width: 200px;
}
.column {
  display: table-cell;
}
#calc-zero {
  width: 52.66666667px;
  border-radius: 0 0 0 7px;
}
#calc-clear {
  width: 52.66666667px;
}
#calc-display-val {
  height: 80px;
  text-align: right;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  font-size: 48px;
  background-color: #383838;
  overflow: hidden;
  white-space: nowrap;
  padding: 12px;
  border-radius: 7px 7px 0 0;
}
.calc-btn-operator {
  background-color: #003d71;
  color: white;
}
#calc-equals {
  border-radius: 0 0 7px 0;
}
#calc-parent {
  margin-left: calc(50% - 100px);
}
body {
  width: 100%;
  margin: 0 auto;
  background: #003d71;
  font-family: "Saira", sans-serif;
}
@media (max-width:500px) {
  body .topImage img {
    height: 300px;
    display: flex;
    justify-content: center;
  }
}
.devImages {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
.devImages img {
  padding: 10px;
  height: 250px;
  border-radius: 20px;
}
.bottomBoxes {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-evenly;
}
.bottomBoxes img {
  height: 250px;
  border-radius: 20px;
  width: 250px;
}
.imageContainer {
  width: 80%;
  margin: 0 auto;
}
header {
  width: 210px;
}
h2 {
  color: #d65600;
}
