/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  height: 100vh;
  margin: 0 auto;
  background: #003d71;
  font-family: 'Saira', sans-serif;
}
@media (max-width:500px) {
  body .topImage img {
    height: 300px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
}
header {
  width: 210px;
  word-wrap: normal;
}
btn {
  padding-top: 5px;
}
p {
  color: #fffbf7;
  font-size: 1rem;
}
h2 {
  font-size: 1.7rem;
  color: #002649;
}
i {
  font-size: 4rem;
  color: #fffbf7;
}
.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.container {
  overflow: hidden;
}
.top-content {
  display: flex;
  direction: row;
}
.topImage img {
  height: 300px;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.welcome img {
  border-radius: 10px;
  height: 250px;
  width: 250px;
}
.bottom-content {
  padding: 5px;
  display: flex;
  direction: row;
}
.tradeCard {
  border-radius: 10px;
  height: 355px;
  width: 265px;
}
.communityPic img {
  border-radius: 10px;
  height: 250px;
  width: 250px;
}
.midPic {
  display: flex;
  flex-direction: column-reverse;
}
.topLogo {
  background: #002649;
  border-radius: 10px;
}
nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  border-radius: 15px;
  background: #d65600;
}
nav a {
  color: #fffbf7;
  padding: 5px;
  text-decoration: none;
}
.bottomLogo {
  display: flex;
  justify-content: flex-end;
  background: #202b31;
  border-radius: 10px;
}
.form {
  font-size: 1.3rem;
  padding: 9px;
  border: 7px solid #fffbf7;
  border-radius: 15px;
  display: inline-block;
}
.form a {
  color: #d65600;
  text-decoration: none;
  text-shadow: 0 0 3px #fffbf7;
}
.clearFix {
  padding: 7px;
}
.termsPrivacy {
  width: 290px;
}
.field {
  display: flex;
  justify-content: space-between;
  width: 275px;
}
label {
  padding: 1px;
}
