@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: @snow;
  line-height: 1.6;
}
p{
    font-size: 2rem;
}

h1{
    font-size: 2rem;
}


.carouselBox{
  display: flex;
  justify-content: center;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 65vh;
  width: 80%;
}

.slide {
  position: absolute;
  margin: 0 auto;
  justify-content: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  border-radius: 20px;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  top: 0px;
  right: 600px;
  opacity: 0;
  width: 170px;
  text-align: center;
  background-color: @charleston;
  height: 50%;
  color: @snow;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.buttons button#next {   
  bottom: 0;
  right: 15px;  
}

.buttons button#prev {  
  left: 15px;
}

.buttons button {
  border: 2px solid @orange;
  background-color: transparent;
  color: @orange;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: @imperialBlue;
  color: @snow;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}



/* Backgorund Images */
 
 .slide:first-child {
  background: url('/img/niftyLogo/kamil-s-1170942-unsplash.jpg') no-repeat
    center top/cover;
}
 .slide:nth-child(2) {
  background: url('/img/niftyLogo/AdobeStock_227126284.jpeg')no-repeat center top/cover;

}
 .slide:nth-child(3) {
  background: url('/img/niftyLogo/play-yu-gi-oh-magic-the.jpg') no-repeat
    center top/cover; 
}
