.form{
    font-size: 1.3rem;
    padding:9px;
    border:7px solid @snow;   
    border-radius: 15px;  
    display:inline-block;    
}

.form a{    
    color:@orange;
    text-decoration: none;
    text-shadow: 0 0 3px #fffbf7;
}

.clearFix{
    padding:7px
}



.termsPrivacy{
    width:275px; 
     
}


.field{
    display: flex;
    justify-content: space-between;
    width: 275px;
}

label{
    padding: 1px;
}
