.form {
  font-size: 1.3rem;
  padding: 15px;
  border: 7px solid @snow;
  border-radius: 20px;

  .form a {
    color: @orange;
    text-decoration: none;
  }
  .clearFix {
    padding: 7px;
  }

  .termsPrivacy {
    width: 290px;
  }
}

.field {
  display: flex;
  justify-content: space-between;
  width: 325px;
}

b {
  font-size: 1.8rem;
}

@media @tablet {
}
