body {
  height: 100vh;  
  margin:0 auto;
  background: @imperialBlue;
  font-family: 'Saira', sans-serif;
  
@media @tablet{  
  
  }

@media @phone{  
  .topImage img{ 
  height:300px;
  width:100%; 
  margin:auto;
  display: flex;
  justify-content:center; 
} 
  
  } 
}


header{
  width:210px;
  word-wrap: normal;
}


btn{
  padding-top: 5px;
}


p{  
  color:@snow;
  font-size:1rem;
}

h2 {
  font-size: 1.7rem;
  color:@oxford;
}


i{
  font-size: 4rem;
  color: @snow;  
  }



.picture-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container{
  overflow: hidden;
}

.top-content {  
  display: flex;
  direction: row;
}

.topImage img{ 
  height:300px;
  width:50%; 
  margin:auto;
  display: flex;
  justify-content:center;  
}

.welcome img{  
  border-radius: 10px;
height:250px;
  width:250px; 
}


.bottom-content {
  padding:5px;
  display: flex;
  direction: row;  
}

.tradeCard{
  border-radius: 10px;
  height:355px;
  width:265px;
}
.communityPic img{
  border-radius: 10px;
height:250px;
  width:250px; 
}

.midPic{
  display: flex;
  flex-direction: column-reverse;
}
