body {
  width: 100%;
  margin: 0 auto;
  background: @imperialBlue;
  font-family: "Saira", sans-serif;

  @media @tablet {
    margin: 0 auto;
  }

  @media @phone {
    .topImage img {
      height: 300px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
    .devImages,
    .bottomBoxes {
      flex-flow: row wrap;
    }
  }
}

header {
  width: 210px;
  word-wrap: normal;
}

p {
  color: @snow;
  font-size: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.7rem;
  color: @oxford;
}

i {
  padding: 10px;
  font-size: 4rem;
  color: @snow;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
  text-align:center;
}

.container {
  padding: 20px;
  width: 100%;
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

    @media @phone {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }
  }
  .row-photo {
    display: block;
    img {
      height: 450px;

      border-radius: 20px;
    }
  }
}

.top-content {
  display: flex;
  direction: row;
}

.topImage img {
  height: 300px;
  width: 325px;
  display: flex;
  justify-content: center;
}

.welcome img {
  padding: 20px;
  border-radius: 30px;
  height: 250px;
  width: 375px;
}

.bottom-content {
  padding: 5px;
  display: flex;
  direction: row;
}

.tradeCard {
  border-radius: 10px;
  height: 355px;
  width: 265px;
}
.communityPic img {
  border-radius: 10px;
  height: 250px;
  width: 80%;
}

.midPic {
  display: flex;
  flex-direction: column-reverse;
}
