nav {
  display: flex;
  justify-content: space-evenly;  
  font-size: 2rem;  
  border-radius: 15px;
  background: @orange; 
  
}

nav a {  
  color: @snow; 
  padding:5px;  
  text-decoration: none;
     
}

