nav {
  display: flex;
  justify-content: space-evenly;  
  font-size: 2rem;  
  background: #202b31; 
}

a {   
  text-shadow: 0 0 2px black;
      color: #d65600;
      text-decoration: none;    
}

